@{
    Page.MainTitle = "Menú principal";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Manual @Page.MainTitle - @Page.Title</title>
    <link href="~/images/logo.png" rel="shortcut icon" type="image/x-icon" />

    <!-- Apple -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-touch-icon" content="~/images/logo.png">

    <!-- Styles -->
    <link href="~/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/styles/gansoft.css" rel="stylesheet" type="text/css" /> @*TODO: Construir el .min*@
    <link href="~/styles/site.css" rel="stylesheet" type="text/css" />
    <link href="~/components/lightbox2/dist/css/lightbox.min.css" rel="stylesheet" type="text/css" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    @RenderSection("Styles", required: false)

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>

    <div class="navmenu navmenu-inverse navmenu-fixed-left offcanvas-xs" role="navigation">
        <a class="navmenu-brand" href="#">@Page.MainTitle</a>
        <ul class="nav navmenu-nav">
            <li><a href="~/">Bienvenido</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i> Perfil <b class="caret pull-right"></b></a>
                <ul class="dropdown-menu navmenu-nav" role="menu">
                    <li><a href="~/content/profile/pprincipal.cshtml"><i class="fa fa-product-hunt" aria-hidden="true"></i>   Principal</a></li>
                    <li><a href="~/content/profile/signin"><i class="fa fa-power-off" aria-hidden="true"></i>   Iniciar sesión</a></li>
                    <li><a href="~/content/profile/signup"><i class="fa fa-user-plus" aria-hidden="true"></i>   Registrarse</a></li>
                    <li><a href="~/content/profile"><i class="fa fa-info" aria-hidden="true"></i>   Información</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-university" aria-hidden="true"></i>  Hacienda <b class="caret pull-right"></b></a>
                <ul class="dropdown-menu navmenu-nav" role="menu">
                    <li><a href="~/content/estate/generaldate.cshtml"><i class="fa fa-database" aria-hidden="true"></i>  Datos generales</a></li>
                    <li><a href="~/content/estate/terminologi.cshtml"><i class="fa fa-tasks" aria-hidden="true"></i>  Terminología</a></li>
                    <li><a href="~/content/estate/settings.cshtml"><i class="fa fa-file-text" aria-hidden="true"></i>  Parámetros</a></li>
                    <li><a href="~/content/estate/automations.cshtml"><i class="fa fa-magic" aria-hidden="true"></i>  Automatizaciones</a></li>
                    <li><a href="~/content/estate/change.cshtml"><i class="fa fa-random" aria-hidden="true"></i>  Cambio de hacienda</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-code" aria-hidden="true"></i>  Códigos <b class="caret pull-right"></b></a>
                <ul class="dropdown-menu navmenu-nav" role="menu">
                    <li><a href="~/content/code/cprincipal.cshtml"><i class="fa fa-product-hunt" aria-hidden="true"></i>  Principal</a></li>
                    <li><a href="~/content/code/actionlist.cshtml"><i class="fa fa-th-list" aria-hidden="true"></i>  Listado de acciones</a></li>
                    <li><a href="~/content/code/healthplan.cshtml"><i class="fa fa-list-alt" aria-hidden="true"></i>  Plan sanitario</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-buysellads" aria-hidden="true"></i>  Animales <b class="caret pull-right"></b></a>
                <ul class="dropdown-menu navmenu-nav" role="menu">
                    <li><a href="~/content/animals/aprincipal.cshtml"><i class="fa fa-product-hunt" aria-hidden="true"></i>  Principal</a></li>
                    <li><a href="~/content/animals/distribution.cshtml"><i class="fa fa-globe" aria-hidden="true"></i>  Distribución</a></li>
                    <li><a href="~/content/animals/detail.cshtml"><i class="fa fa-asterisk" aria-hidden="true"></i>  Detalles del animal</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-calendar-o" aria-hidden="true"></i>  Eventos <b class="caret pull-right"></b></a>
                <ul class="dropdown-menu navmenu-nav" role="menu">
                    <li><a href="~/content/event/lotchange.cshtml"><i class="fa fa-retweet" aria-hidden="true"></i>  Cambios de lote</a></li>
                    <li><a href="~/content/event/notificationinv.cshtml"><i class="fa fa-comment" aria-hidden="true"></i>  Notificación de inventario</a></li>
                    <li><a href="~/content/event/corporal.cshtml"><i class="fa fa-balance-scale" aria-hidden="true"></i>  Peso Corporal</a></li>
                    <li><a href="~/content/event/conditioncor.cshtml"><i class="fa fa-pie-chart" aria-hidden="true"></i>  Condición corporal</a></li>
                    <li><a href="~/content/event/service.cshtml"><i class="fa fa-area-chart" aria-hidden="true"></i>  Servicio</a></li>
                    <li><a href="~/content/event/review.cshtml"><i class="fa fa-eye" aria-hidden="true"></i>  Revisión</a></li>
                    <li><a href="~/content/event/birth.cshtml"><i class="fa fa-heart" aria-hidden="true"></i>  Parto</a></li>
                    <li><a href="~/content/event/milk.cshtml"><i class="fa fa-beer" aria-hidden="true"></i>  Pesajes de leche</a></li>
                    <li><a href="~/content/event/drying.cshtml"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  Secado</a></li>
                    <li><a href="~/content/event/otherchange.cshtml"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>  Otros cambios</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gear" aria-hidden="true"></i>  Opciones <b class="caret pull-right"></b></a>
                <ul class="dropdown-menu navmenu-nav" role="menu">
                    <li><a href="~/content/option/oprincipal.cshtml"><i class="fa fa-product-hunt" aria-hidden="true"></i>  Principal</a></li>
                    <li><a href="~/content/option/synchronization.cshtml"><i class="fa fa-refresh" aria-hidden="true"></i>  Sincronización</a></li>
                </ul>
            </li>

        </ul>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top visible-xs">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">@Page.MainTitle</a>
    </div>

    <div id="body" class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>
                        @Page.Title
                        @if (!string.IsNullOrEmpty(Page.SubTitle))
                        {
                            <small>@Page.SubTitle</small>
                        }
                    </h1>
                </div>
            </div>
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <hr />
                <small>
                    © @(DateTime.Now.Year) - TDPro, C.A. J-29636526-1, Maracaibo - Venezuela / 01/05/2017 Version 1.0.0 Version App 1.1.22.47
                </small>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/components/jquery/dist/jquery.min.js"></script>
    <script src="~/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>
    <script src="~/components/lightbox2/dist/js/lightbox.min.js"></script>
    @RenderSection("Scripts", required: false)


</body>
</html>